<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Details</title>
    <link rel="stylesheet" th:href="@{/car_details.css}">
</head>
<body>
    <h1>Car Details</h1>
    <div>
        <p><strong>Make:</strong> <span th:text="${car.make}">Make</span></p>
        <p><strong>Model:</strong> <span th:text="${car.model}">Model</span></p>
        <p><strong>Registration Year:</strong> <span th:text="${car.registrationYear}">Year</span></p>
        <p><strong>Price:</strong> <span th:text="${car.price}">Price</span></p>
        <p><strong>Description:</strong> <span th:text="${car.description}">Description</span></p>
        <div th:if="${car.imagePath}">
            <p><strong>Image:</strong></p>
            <img th:src="@{/upload-dir/{imagePath}(imagePath=${car.imagePath})}" alt="Car Image" />
        </div>
    </div>
    <a th:href="@{/user/cars}">Back to Cars</a>
</body>
</html>
