<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deactivate Car</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="user/header :: header"></div>
    <div>
        <h1>Deactivate Car Sale</h1>
        <form th:action="@{/user/cars/deactivate/{id}(id=${car.id})}" method="post">
            <p>Are you sure you want to deactivate this car sale?</p>
            <button type="submit">Deactivate</button>
        </form>
    </div>
</body>
</html>
