<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Car</title>
    <link rel="stylesheet" th:href="@{/edit_car.css}">
</head>
<body>
    <h1>Edit Car</h1>
    <form th:action="@{/user/cars/edit/{id}(id=${car.id})}" method="post" enctype="multipart/form-data">
        <div>
            <label for="make">Make:</label>
            <input type="text" id="make" name="make" th:field="*{make}" required>
        </div>
        <div>
            <label for="model">Model:</label>
            <input type="text" id="model" name="model" th:field="*{model}" required>
        </div>
        <div>
            <label for="registrationYear">Registration Year:</label>
            <input type="number" id="registrationYear" name="registrationYear" th:field="*{registrationYear}" required>
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" th:field="*{price}" required>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description" th:field="*{description}" required></textarea>
        </div>
        <div>
            <label for="imageFile">Car Image:</label>
            <input type="file" id="imageFile" name="imageFile">
        </div>
        <div>
            <button type="submit">Update Car</button>
        </div>
    </form>
</body>
</html>
