<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Cars</title>
    <link rel="stylesheet" th:href="@{/view_cars.css}">
</head>
<body>
    <h1>View Cars</h1>
    <table>
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Registration Year</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="car : ${cars}">
                <td th:text="${car.make}">Make</td>
                <td th:text="${car.model}">Model</td>
                <td th:text="${car.registrationYear}">Year</td>
                <td th:text="${car.price}">Price</td>
                <td>
                    <a th:href="@{'/user/cars/edit/' + ${car.id}}">Edit</a>
                    <form th:action="@{'/user/cars/delete/' + ${car.id}}" method="post" style="display: inline;">
                        <button type="submit">Delete</button>
                    </form>
                    <a th:href="@{'/user/cars/details/' + ${car.id}}">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/user/cars/add}">Add New Car</a>
</body>
</html>
