/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background: #007BFF;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

header nav a:hover {
    text-decoration: underline;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f8f8f8;
}

table tr:hover {
    background-color: #f1f1f1;
}

table img {
    width: 100px;
    height: auto;
}

/* Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination .active a {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}
